<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="header"><h1>Travel App</h1></div>
      <div class="menu">Menu</div>
      <div class="main">
        <div id="main_placeName"></div>
        <img
          id="main_image"
          src="https://www.fujifilm.co.nz/products/digital_cameras/x/fujifilm_x_t1/sample_images/img/index/ff_x_t1_001.JPG"
          alt="Here is your pic"
        />
      </div>
      <div class="right">
        <h4>Weather Details</h4>
        <table id="weather_table">
          <tr>
            <td>Temperature:</td>
            <td id="temperature">n/a</td>
          </tr>
          <tr>
            <td>Timezone:</td>
            <td id="timezone">n/a</td>
          </tr>
          <tr>
            <td>Travel Date:</td>
            <td id="date">n/a</td>
          </tr>
          <tr>
            <td>Travel Duration:</td>
            <td id="travel_duration">n/a</td>
          </tr>
        </table>
      </div>
      <div class="footer">
        <form class="form">
          <div id="input_place_div">
            <label for="input_place">Travel Place</label>
            <input
              id="input_place"
              type="text"
              name="input"
              value=""
              placeholder="e.g Naples, Paris, London"
            />
          </div>
          <div id="input_country_div">
            <label for="countryList">Country Code</label>
            <!-- <input
            id="input_countryCode"
            type="text"
            name="input"
            value=""
            placeholder="e.g. us, de, ru, es, gb"
          /> -->
            <select id="countryList" name="locality"> </select>
          </div>
          <div id="input_date_start_div">
            <label for="input_date">Travel Start Date</label>
            <input
              type="date"
              id="input_date"
              name="trip-start"
              value="2020-01-22"
              min="2020-01-01"
            />
          </div>
          <div id="input_date_end_div">
            <label for="input_date">Travel End Date</label>
            <input
              type="date"
              id="input_date_end"
              name="trip-end"
              value="2020-01-22"
              min="2020-01-01"
            />
          </div>

          <br />
          <div id="info">If empty, date will be today and City London, GB</div>
          <input
            type="submit"
            name=""
            id="submitButton"
            value="get Travel Details"
          />
        </form>
      </div>
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
