header {
  text-align: center;
  font-size: 2em;
  grid-area: header;
}

#container {
  display: grid;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "pic pic pic pic pic sb sb"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft ";
  grid-gap: 10px;
  background-color: red;
}
