.header {
  grid-area: header;
}
.menu {
  grid-area: menu;
}
.main {
  grid-area: main;
  img {
    max-width: 400px;
  }
}
.right {
  grid-area: right;
  table {
    margin-left: 25px;
    margin-right: 25px;
  }
}
.footer {
  grid-area: footer;
  form {
    label {
      font-size: 1em;
    }
    #submitButton {
      margin-top: 15px;
    }
    #info {
      font-size: 0.7em;
    }
  }
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  border: 1px solid black;
}

@media (max-width: 860px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "right"
      "main"
      "footer";
    grid-gap: 10px;
    padding: 10px;
  }
  .menu {
    display: none;
  }
  .footer {
    form {
      input {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

//menu weg
// bild oben
//temperature darunter
// footer input unten
