.header {
  grid-area: header;
}

.menu {
  grid-area: menu;
  display: none
}

.main {
  grid-area: main;

  img {
    max-width: 400px;
  }
}

.right {
  grid-area: right;

  table {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.footer {
  grid-area: footer;

  form {
    label {
      font-size: 1em;
    }

    div {
      margin-bottom: 15px;

    }

    #submitButton {
      margin-top: 15px;

      &:hover {
        background-color: #4caf50;
      }
    }

    #info {
      font-size: 0.7em;
    }
  }
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "main main main main right right" // removed menu
    "footer footer footer footer footer footer"; //removed menu
  grid-gap: 10px;
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  border: 1px solid black;
}

@media (max-width: 860px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "right"
      "main"
      "footer";
    grid-gap: 10px;
    padding: 10px;
  }

  .menu {
    display: none;
  }

  .footer {
    form {
      div {

        label {
          display: block
        }
      }

    }
  }
}